* {
    margin: 0;
    padding: 0;
    background-color: blue;
    animation: blink 1.5s infinite;
}
	@keyframes blink {
        
		0%		{ background-color: orange;}
		25%		{ background-color: tomato;}
		50%		{ background-color: #ef0a1a;}
		75%		{ background-color: #ae4000;}
		100%	{ background-color: #fc05a1;}       
}

/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
} */

.main ul li a:nth-of-type(1) {
    text-decoration: none;
    font-size: 20px;
    color: black;
    /* -webkit-text-stroke: 0.3px black; */
    text-decoration: underline;
    margin-left: 600px;
}

.main .ulist ul li a {
    text-decoration: none;
    color: greenyellow;
    font-size: 70px;
    background-image: linear-gradient( to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px black;
    /* -webkit-box-shadow: 0px 0px 73px 4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 73px 4px rgba(0,0,0,1);
    box-shadow: 0px 0px 73px 4px rgba(0,0,0,1); */
}

.main .ulist {
    margin-left: 10px;
    margin-top: 60px;
}

/* #loading {
    height: 600px;
    width: 600px;
    margin-left: 440px;
    margin-top: 50px;
    z-index: 2;
} */

/* .main p {
    color: white;
    font-size: 130px;
    margin-top: 300px;
    margin-left: 300px;
    -webkit-text-stroke: 3px black;
    background-color: black;
    width: 1040px;
} */