body {
    background-image: url('./gradient.jpg');
}

.sve {
    padding-left: 145px;
}

.h1 {
    font-family: sans-serif;
    padding-left: 165px;
    color: black;
    letter-spacing: .15em;
    text-shadow: 2px 2px 10px hsl(0, 0%, 100%);
    letter-spacing: 10px;
}

.main {
    opacity: 80%;
    margin: 15px auto;
    margin-right: 15px;
    width: 400px;
    height: 600px;
    background-color: yellow;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 150px;
    border: 1px solid black;
    display: inline-block;
}

.main img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main h1 {
    text-align: center;
    margin: 15px;
}

.main h3 {
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}

.main p {
    text-align: center;
    text-align-last: center;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.main img:hover {
    content: url('./14.png');
    object-fit: fill;
    cursor: pointer;
}

.contact {
    font-size: 17px;
    padding-left: 20px;
    margin: 2px auto;
    object-position: center;
}

.contact a:hover {
    background: white;
}

.main .contact a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    height: 25px;
    border-radius: 80px 40px;
    text-align: center;
    margin-left: 30px;
}

.main2 {
    opacity: 80%;
    margin: 15px auto;
    margin-right: 15px;
    width: 400px;
    height: 600px;
    background-color: blue;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border: 1px solid black;
    display: inline-block;
}

.main2 .contact a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    height: 25px;
    border-radius: 80px 40px;
    text-align: center;
    margin-left: 30px;
}

.main2 img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main2 h1 {
    text-align: center;
    margin: 15px;
}

.main2 h3 {
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}

.main2 p {
    text-align: center;
    text-align-last: center;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.main2 img:hover {
    content: url('./22.jpg');
    cursor: pointer;
}

.main3 {
    opacity: 80%;
    margin: 15px auto;
    margin-right: 15px;
    width: 400px;
    height: 600px;
    background-color: lightblue;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 50px;
    border: 1px solid black;
    display: inline-block;
}

.main3 .contact a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    height: 25px;
    border-radius: 80px 40px;
    text-align: center;
    margin-left: 30px;
}

.main3 img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main3 h1 {
    text-align: center;
    margin: 15px;
}

.main3 h3 {
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}

.main3 p {
    text-align: center;
    text-align-last: center;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.main3 img:hover {
    content: url('./32.png');
    cursor: pointer;
}

.main4 {
    opacity: 80%;
    margin: 15px auto;
    margin-right: 15px;
    width: 400px;
    height: 600px;
    background-color: orange;
    border-top-right-radius: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid black;
    display: inline-block;
}
.main4 .contact a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    height: 25px;
    border-radius: 80px 40px;
    text-align: center;
    margin-left: 30px;
}

.main4 img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 150px;
}

.main4 h1 {
    text-align: center;
    margin: 15px;
}

.main4 h3 {
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}

.main4 p {
    text-align: center;
    text-align-last: center;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.main4 img:hover {
    content: url('./42.jpeg');
    cursor: pointer;
}

.main5 {
    opacity: 80%;
    margin: 15px auto;
    margin-right: 15px;
    width: 400px;
    height: 600px;
    background-color: rgb(77, 125, 180);
    border-top-right-radius: 148px;
    border-top-left-radius: 148px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid black;
    display: inline-block;
}
.main5 .contact a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    height: 25px;
    border-radius: 80px 40px;
    text-align: center;
    margin-left: 30px;
}

.main5 img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid;
    border-top-left-radius: 148px;
    border-top-right-radius: 148px;
}

.main5 h1 {
    text-align: center;
    margin: 15px;
}

.main5 h3 {
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}

.main5 p {
    text-align: center;
    text-align-last: center;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.main5 img:hover {
    content: url('./52.png');
    cursor: pointer;
}

.main6 {
    opacity: 80%;
    margin: 15px auto;
    margin-right: 15px;
    width: 400px;
    height: 600px;
    background-color: red;
    border-top-right-radius: 50px;
    border-top-left-radius: 148px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid black;
    display: inline-block;
}
.main6 .contact a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    height: 25px;
    border-radius: 80px 40px;
    text-align: center;
    margin-left: 30px;
}

.main6 img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid;
    border-top-left-radius: 148px;
    border-top-right-radius: 50px;
}

.main6 h1 {
    text-align: center;
    margin: 15px;
}

.main6 h3 {
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}

.main6 p {
    text-align: center;
    text-align-last: center;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.main6 img:hover {
    content: url('./62.webp');
    cursor: pointer;
}