* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  /* height: 100vh; */
}

.card {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.5rem;
}
.card .tekst {
  align-items: center;
}

li {
  list-style: none;
  text-align: center;
}

p.imeVidea,
p.duzinaVidea {
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.card .slika {
  cursor: pointer;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
}

.plejer {
  border: 2px solid black;
  /* padding: 0.1rem; */
  display: flex;
  margin: 0.5rem auto;
  width: auto;
  height: 60vh;
}
