* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* 1b3045 backgr*/
/* 56b8e7 button */

.both {
    /* width: 100vw; */
    display: flex;
}

.prvi-deo {
    /* display: flex; */
    width: 40vw;
    height: 100vh;
    background-color: #1b3045;
    /* display: inline-block; */
    /* position: fixed; */
}

.prvi-deo h1 {
    color: white;
    font-size: 30px;
    position: relative;
    top: 3rem;
    left: 10.3rem;
    animation: bottom-to-top .7s ease both alternate;  
}

    @keyframes bottom-to-top {
        0% {
            transform: translateY(-4px);
        }

        100% {
            transform: translateY(-20px);
        }
    }

.prvi-deo .veci {
    font-weight: bolder;
    position: relative;
    font-size: 45px;
    margin-top: 15rem;
    left: 10.3rem;
}

.prvi-deo p {
    position: relative;
    margin-top: 3rem;
    margin-bottom: .5rem;
    left: 11rem;
    width: 20vw;
    height: 100px;
    color: white; 
}

.prvi-deo #prvi {
    position: relative;
    color: #ffffff;
    font-weight: bold;
    top: .5rem;
    left: 10rem;
    height: 45px;
    width: 150px;
    padding: 10px;
    font-size: 15px;
    border: 1px transparent;
    background-color: #56b8e7;
    border-radius: 20px;
    cursor: pointer;
}

.prvi-deo #ikonica {
    position: relative;
    top: 17px;
    right: 20px;
    margin-left: 200px;
    font-size: 30px;
    color: #56b8e7;
    font-size: 40px;
}

.prvi-deo a {
    color: gray;
    text-decoration: none;
    font-size: 16px;
    padding-right: 10px;
    position: relative;
    left: 5px;
    bottom: 10px;
}

aside {
    /* display: flex; */
    /* position: relative; */
    /* bottom: 100vh; */
    left: 42rem;
    width: 60vw;
    height: 100vh;
    background-color: rgb(27, 48, 69);
    /* z-index: 1; */
}

aside img {
    width: 100%;
    height: 100%;
    /* background-color: rgba(27, 48, 69); */
}

aside ul {
    position: relative;
    top: 40px;
    list-style: none;
    display: flex;

}

aside ul li a {
    color: rgb(155, 155, 155);
    text-decoration: none;
    padding-left: 30px;
    position: relative;
    left: 120px;
    bottom: 915px;
    font-weight: 500;
    /* text-shadow: rgba(0,0,0,1) 0px 0px 8px; */
}

#home {
    color: #ffffffe0;
}

.second {
    height: 75vh;
    width: 100%;
}

.second h2 {
    margin-top: 6rem;
    text-align: center;
    height: 50px;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 3rem;
}

.poster {
    margin: 30px auto;
    height: 65vh;
    width: 80vw;
    background-color: rgb(248, 248, 248);
    display: flex;
}

.poster .img img{
    height: 65vh;
    width: 35vw;
}

.poster .text {
    height: 65vh;
    width: 45vw;
    text-align: center;
}

.poster .text h3 {
    margin-top: 20%;
    font-size: 27px;
    color: #1d3348;
}

.poster #strelica1 {
    width: 20%;
    position: relative;
    right: 130px;
    bottom: 380px;
    font-size: 75px;
    color: #315c85;
    font-weight: 200;
    cursor: pointer;
}

.poster #strelica2 {
    width: 20%;
    position: relative;
    bottom: 544px;
    font-size: 75px;
    color: #315c85;
    left: 500px;
    font-weight: 200;
    cursor: pointer;
}

.poster .text h4 {
    font-size: 15px;
    padding-top: 20px;
    width: 35.9vw;
    padding-left: 163px;
    font-weight: normal;
    color: #336a9e;
}

.poster .text p {
    text-align: center;
    text-align: justify;
    padding-top: 4rem;
    padding-left: 163px;
    width: 35.9vw;
}

.poster .text h1 {
    text-align: center;
    /* padding-top: 1rem; */
    font-size: 55px;
    cursor: pointer;
    margin-left: 290px;
    width: 200px;
}

.poster .text span {
    color: lightblue;
}

.third {
    margin: auto;
    height: 69vh;
    width: 100%;
    background-color: #ffffff;
}

.third .text h3 {
    padding-top: 3rem;
    text-align: center;
    height: 50px;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 3rem;
}

.boxes {
    display: grid;
    height: 600px;
    grid-template-rows: 200px 200px;
    grid-template-columns: 400px 400px 400px;
    /* width: 800px; */
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    column-gap: 10px;
}

.boxes .box1 {
    width: 410px;
    /* height: 200px; */
    /* background-color: aqua; */
}

.boxes .box2 {
    width: 410px;
    /* height: 200px; */
    /* background-color: rgb(211, 31, 235);  */
}

.boxes .box3 {
    width: 410px;
    /* height: 200px; */
    /* background-color: red; */
}

.boxes .box4 {
    width: 410px;
    /* height: 200px; */
    /* background-color: yellow; */
}

.boxes .box5 {
    width: 410px;
    /* height: 200px; */
    /* background-color: yellowgreen; */
}

.boxes .box6 {
    width: 410px;
    /* height: 200px; */
    /* background-color: sienna;  */
}

/* 1 */

#kofer {
    font-size: 30px;
    position: relative;
    left: 5px;
    color: orangered;
}

.boxes .box1 span {
    font-size: 20px;
    position: relative;
    bottom: 3px;
    left: 10px;
    font-weight: bold;
}

.boxes .box1 p {
    position: relative;
    top: 5px;
    left: 40px;
    width: 339px;
}

/* 2 */

#kofer {
    font-size: 30px;
    position: relative;
    left: 5px;
    color: orangered;
}

.boxes .box2 span {
    font-size: 20px;
    position: relative;
    bottom: 3px;
    left: 10px;
    font-weight: bold;
}

.boxes .box2 p {
    position: relative;
    top: 5px;
    left: 40px;
    width: 339px;
}

/* 3 */

#kofer {
    font-size: 30px;
    position: relative;
    left: 5px;
    color: orangered;
}

.boxes .box3 span {
    font-size: 20px;
    position: relative;
    bottom: 3px;
    left: 10px;
    font-weight: bold;
}

.boxes .box3 p {
    position: relative;
    top: 5px;
    left: 40px;
    width: 339px;
}

/* 4 */

#kofer {
    font-size: 30px;
    position: relative;
    left: 5px;
    color: orangered;
}

.boxes .box4 span {
    font-size: 20px;
    position: relative;
    bottom: 3px;
    left: 10px;
    font-weight: bold;
}

.boxes .box4 p {
    position: relative;
    top: 5px;
    left: 40px;
    width: 339px;
}

/* 5 */

#kofer {
    font-size: 30px;
    position: relative;
    left: 5px;
    color: orangered;
}

.boxes .box5 span {
    font-size: 20px;
    position: relative;
    bottom: 3px;
    left: 10px;
    font-weight: bold;
}

.boxes .box5 p {
    position: relative;
    top: 5px;
    left: 40px;
    width: 339px;
}

/* 6 */

#kofer {
    font-size: 30px;
    position: relative;
    left: 5px;
    color: orangered;
}

.boxes .box6 span {
    font-size: 20px;
    position: relative;
    bottom: 3px;
    left: 10px;
    font-weight: bold;
}

.boxes .box6 p {
    position: relative;
    top: 5px;
    left: 40px;
    width: 339px;
}

.wide {
    height: 50vh;
    width: 99vw;
}

.wide img {
    height: 50vh;
    width: 100%;
    background-size: 100% 100%;
}

.wide h3 {
    position: absolute;
    margin-top: 90px;
    font-size: 30px;
    color: #ffffff;
    margin-left: 670px;
}

.wide p {
    position: absolute;
    color: #ffffff;
    margin-top: 200px;
    width: 650px;
    text-align-last: center;
    margin-left: 540px;
}

.wide a {
    /* border: .1px; */
    position: absolute;
    margin-top: 300px;
    margin-left: 750px;
    background-color: #56b8e7;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    padding: 15px;
    padding-bottom: 20px;
    height: 6vh;
    width: 13vw;
    color: #ffffff;
    font-weight: 500;
}

.fifth {
    /* height: 9vh; */
}

.fifth h1 {
    margin-top: 3rem;
    margin-left: 14rem;
    color: #15334f;
}

.fifth-grid {
    display: grid;
    height: 400px;
    grid-template-rows: 70px 70px 70px 70px;
    grid-template-columns: 270px 330px;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    position: relative;
    right: 16rem;
    color: #15334f;
    font-weight: 400;
}

#market {
    position: relative;
    top: 2px;
    color: yellowgreen;
    font-size: 25px;
    padding-right: 5px;

}

.fifth-grid span {
    font-size: 19px;
}

.sivi-deo {
    margin-top: -5rem;
    height: 45vh;
    background-color: #ebebeb;
}

.sivi-deo h1 {
    width: 20%;
    /* margin-top: 5rem; */
    padding-top: 5rem;
    margin-left: 14rem;
}

.sivi-deo p {
    margin-left: 14rem;
    padding-top: 2rem;
    width: 40%;
}

.sivi-deo a {
    margin-left: 14rem;
    position: relative;
    top: 2rem;
    text-decoration: none;
    background-color: #56b8e7;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 40px 40px;
    color: #ffffff;
    font-weight: bold;
}

.sivi-deo .slika {
    width: 30vw;
}

.sivi-deo .slika img {
    height: 76vh;
    position: relative;
    left: 70vw;
    bottom: 73vh;
}

.blog {
    margin: 30px auto;
    height: 70vh;
    /* display: flex; */
}

.blog h1 {
    padding-top: 3rem;
    text-align: center;
    height: 50px;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 3rem;
}

.flex {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    gap: 25px;
}

/* img settings */

.flex .primer1 img {
    /* margin: auto; */
    height: 27vh;
    width: 17vw;
}

.flex .primer2 img {
    /* margin: auto; */
    height: 27vh;
    width: 17vw;
}

.flex .primer3 img {
    /* margin: auto; */
    height: 27vh;
    width: 17vw;
}

.flex .primer4 img {
    /* margin: auto; */
    height: 27vh;
    width: 17vw;
}

/* <p> settings */
#sivi {
    color: #858585;
}

.flex .primer1 p {
    padding-top: 8px;
}

.flex .primer2 p {
    padding-top: 8px;
}

.flex .primer3 p {
    padding-top: 8px;
}

.flex .primer4 p {
    padding-top: 8px;
}

/* <a> settings */

.flex .primer1 a {
    text-decoration: none;
    color: #56b8e7;
    font-weight: 500;
}

.flex .primer2 a {
    text-decoration: none;
    color: #56b8e7;
    font-weight: 500;
}

.flex .primer3 a {
    text-decoration: none;
    color: #56b8e7;
    font-weight: 500;
}

.flex .primer4 a {
    text-decoration: none;
    color: #56b8e7;
    font-weight: 500;
}

.footer {
    padding-top: 60px;
    height: 35vh;
    width: 99vw;
    background-color: #ebebeb ;
    display: flex;
}

.levi {
    position: relative;
    top: -5rem;
    margin: auto;
    margin-left: 12rem;
    width: 35vw;
}

.levi h3 {
    font-size: 30px;
}

.icons {
    display: flex;
}

#twitter {
    size: 50px;
    color: white;
    background-color: #56b8e7;
    border-radius: 50%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
}

.desni {
    position: relative;
    top: -2.2rem;
    margin: auto;
    margin-left: 12rem;
    width: 65vw;
    display: flex;
    /* margin-left: 20px; */
}

.desni h3 {
    padding-left: 5rem;
}

.desni .prva {
    display: grid;
}

.desni .prva ul {
    /* margin-top: 2rem; */
}

.desni .prva ul li {
    list-style: none;
    margin-left: 2.5rem;
    padding-top: 15px;
}

.desni .prva ul li a {
    text-decoration: none;
    color: #315c85;
}

/*  */

.desni .druga {
    display: grid;
}

.desni .druga ul {
    /* margin-top: 2rem; */
}

.desni .druga ul li {
    list-style: none;
    margin-left: 2.5rem;
    padding-top: 15px;
}

.desni .druga ul li a {
    text-decoration: none;
    color: #315c85;
}

.treca p {
    position: relative;
    left: 5rem;
}

#smaller {
    font-size: 14px;
}

.end {
    margin: 40px;
    text-align: center;
    font-weight: lighter;
}

.end span {
    color: #56b8e7;
}