* {
    padding: 0;
    margin: 0;
    background-color:antiquewhite;
}

h1 {
    padding-top: 20px;
    text-align: center;
}

.forma {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    border: 2px solid black;
    width: 400px;
    margin-top: 50px;
    margin-left: 545px;
}

.forma .opcije input {
    display: inline-block;
    margin-left: 50px;
}

.forma .izbor input {
    display: inline-block;
    margin-left: 50px;
}

.forma .buttons button {
    font-size: 15px;
    margin: 30px
}