* {
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 15vh;
    width: 100%;
    background-color: blue;
    display: flex;
}

header h2 {
    width: 80%;
    font-size: 30px;
    color: #fff;
    margin: auto;
    align-self: center;
    margin-left: 10.9rem;
}

header ul {
    display: flex;
    align-self: center;
    padding-right: 5rem;
    margin-left: 10rem;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    /* position: relative; */
    padding-left: 25px;
}

header button {
    height: 7vh;
    width: 22vw;
    align-self: center;
    margin-right: 15rem;
    border: none;
    border-radius: 20px;
}

.main {
    display: flex;
    /* flex-wrap: nowrap; */
    margin: auto;
    height: 100vh;
    width: 80%;
    /* background-color: cyan; */
}

.boxes {
    margin-top: 1.5rem;
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    position: relative;
    left: 5rem;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3rem;
    flex-grow: 1;
    height: 70vh;
    width: 36vw;
}

.box1 {
    height: 35vh;
    width: 20vw;
    background-color: grey;
}

.box1 i {
    font-size: 50px;
    padding-left: 8vw;
    padding-top: 3vh;
}

.box1 h4 {
    text-align: center;
}

.box1 p {
    text-align: center;
}

/*  */

.box2 {
    margin-top: 3rem;
    height: 35vh;
    width: 20vw;
    background-color: grey;
}

.box2 i {
    font-size: 50px;
    padding-left: 8vw;
    padding-top: 3vh;
}

.box2 h4 {
    text-align: center;
}

.box2 p {
    text-align: center;
}

/*  */

.box3 {
    position: relative;
    top: -60px;
    margin-top: 3rem;
    height: 35vh;
    width: 20vw;
    background-color: grey;
}

.box3 i {
    font-size: 50px;
    padding-left: 8vw;
    padding-top: 3vh;
}

.box3 h4 {
    text-align: center;
}

.box3 p {
    text-align: center;
}

/*  */

.box4 {
    position: relative;
    top: -60px;
    margin-top: 6rem;
    height: 35vh;
    width: 20vw;
    background-color: grey;
}

.box4 i {
    font-size: 50px;
    padding-left: 8vw;
    padding-top: 3vh;
}

.box4 h4 {
    text-align: center;
}

.box4 p {
    text-align: center;
}