* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 80%;
    /* height: 90vh; */
    background-color: #7fffd4;
    display: grid;
    /* grid-template-columns: 150px 150px; */
    /* Dve vrednosti predstavljaju da imamo dve kolone */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* Slicno flex-grow gde se redjaju elmenti tako sto ce popuniti celu sirinu parenta */
    grid-template-columns: repeat(3, 1fr);
    
    /* grid-template-rows: 200px 100px; */
    /* Svaka vrednost predstavlja visinu elemenata za taj red */
    /* grid-auto-rows: 200px; */
    /* Predstavlja visinu svih redova */
    grid-auto-rows: minmax(150px, auto);

    /* grid-gap: 15px; */
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-areas:
    "header header header"
    "section section article"
    "main main article";
}

.box1 {
    /* height: 150px; */
    background-color: #deb887;
    grid-area: header;
}

.box2 {
    /* height: 150px; */
    background-color: red;
    grid-area: section;
}

.box3 {
    /* height: 150px; */
    background-color:violet ;
    grid-area: article;
}

.box4 {
    /* height: 150px; */
    background-color:rgb(49, 88, 26) ;
    grid-area: main;
}

.box5 {
    /* height: 150px; */
    background-color:rgb(116, 32, 32) ;
    color: white;
}

.box6 {
    /* height: 150px; */
    background-color:yellow ;
}

.box7 {
    /* height: 150px; */
    background-color:rgb(139, 113, 164) ;
}