* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Verdana";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to left top, blue, green);
  color: rgb(255, 255, 255);
}

header {
  padding: 2rem 1rem;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-family: Verdana;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

#form {
  display: flex;
}

input {
  outline: none;
}

#addItems {
  flex: 1;
  background-color: rgb(177, 177, 177);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: #000000;
  font-size: 1.25rem;
  opacity: 0.7;
  border: 1px solid black;
}

#addItems::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.4;
}

#submit {
  border-radius: 1rem;
  color: burlywood;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: rgb(143, 38, 0);
  border: 0.5px solid black;
  cursor: pointer;
  transition: opacity 0.4s;
}

#submit:hover {
  opacity: 0.8;
}

#submit:active {
  opacity: 0.6;
}

main {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

#haDva {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(182, 182, 182);
  margin-bottom: 1.2rem;
}

.task {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
}

.delete {
  border-radius: 1rem;
  color: burlywood;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(143, 38, 0);
  border: 0.5px solid black;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
  transition: opacity 0.3s;
  text-transform: uppercase;
}

.delete:hover {
  opacity: 0.8;
}

.delete:active {
  opacity: 0.5;
}
